<div class="header">
    <h1>Vinyl Vibes</h1>
</div>
<div class="container">
    <div class="sidebar">
        <ul>
            <li><a routerLink="profile"
                    routerLinkActive="active">Profile</a></li>
            <li><a routerLink="albums"
                    routerLinkActive="active">Albums</a></li>
            <li><a routerLink="/logout">Logout</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="footer">
    <p>&copy; 2024 Vinyl Vibes. All rights reserved.</p>
</div>