<div class="header">
    <h1>Vinyl Vibes</h1>
    <h3 *ngIf="user?.admin">Admin panel</h3>
</div>
<div class="container">
    <div class="sidebar">
        <ul>
            <li><a routerLink="profile" routerLinkActive="active">Profile</a></li>
            <li><a routerLink="albums" routerLinkActive="active">Albums</a></li>
            <li *ngIf="user?.admin"><a routerLink="album-form" routerLinkActive="active">Album Form</a></li>
            <li *ngIf="user?.admin"><a routerLink="register-form" routerLinkActive="active">User Form</a></li>
            <li><a routerLink="/logout">Logout</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="footer">
    <p>&copy; 2024 Vinyl Vibes. All rights reserved.</p>
</div>