<div *ngIf="albums.length > 0">
    <h2>Albums</h2>
    <div class="album-cards">
        <div *ngFor="let album of albums" class="album-card">
            <img *ngIf="album.image" [src]="album.image" alt="{{ album.name }} Image" class="album-image"
                style="max-width: 200px; max-height: 200px; min-width: 200px; min-height: 200px;" />
            <div class="album-details">
                <h3>{{ album.name }}</h3>
                <p>Artist: {{ album.artist }}</p>
                <p>Description: {{ album.description }}</p>
                <div class="vote-buttons">
                    <div class="count-container">
                        <p class="vote-count">{{ album.dislikes }}</p>
                        <button class="dislike" (click)="dislikeCall(album.id)" [ngClass]="{'disliked-button': album.isDisliked}">Dislike</button>
                    </div>
                    <div class="count-container">
                        <p class="vote-count">{{ album.likes }}</p>
                        <button class="like" (click)="likeCall(album.id)" [ngClass]="{'liked-button': album.isLiked}">Like</button>
                    </div>
                </div>
                <button class="reviews" (click)="goToAlbumPage(album)">Reviews</button>
                <button *ngIf="isAdmin" class="delete" (click)="deleteAlbum(album.id)">Delete</button>
            </div>
        </div>
    </div>
</div>
