<div class="album-details-container" *ngIf="currentAlbum">
  <button class="back-button" (click)="goToAlbums()">Back to Albums</button>
  <h2>{{ currentAlbum.name }}</h2>
  <img *ngIf="currentAlbum.image" [src]="currentAlbum.image" alt="{{ currentAlbum.name }} Image" class="album-image" />
  <h4>Artist: {{ currentAlbum.artist }}</h4>
  <p>Description: {{ currentAlbum.description }}</p>
  <div class="album-stats">
    <p>Likes: {{ currentAlbum.likes }} Dislikes: {{ currentAlbum.dislikes }}</p>
  </div>

  <div class="reviews-form">
    <h3>Write a Review</h3>
    <form (submit)="submitReview()">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" [(ngModel)]="review.title" required>

      <label for="reviewText">Review Text:</label>
      <textarea id="reviewText" name="reviewText" [(ngModel)]="review.reviewText" required></textarea>

      <button type="submit">Submit Review</button>
    </form>
  </div>

 

  <div class="reviews-list" *ngIf="reviews.length > 0">
    <h3>Reviews</h3>
    <div *ngFor="let review of reviews" class="review-item">
      <h3>{{ review.title }}</h3>
      <p>{{ review.reviewText }}</p>
      <p>{{ review.userFirstName }} {{ review.userLastName }}</p>
    </div>
  </div>
</div>
